<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/dashboard.html">Dashboard</a>
  <a class="navbar-brand" href="/students">Student</a>
  <a class="navbar-brand" href="/groups">Group</a>
  <a class="navbar-brand" href="/subjects">Subjects</a>
  <a class="navbar-brand" href="/laboratory">Laboratory</a>
  <a class="navbar-brand" href="/tasks">Task</a>
  <a class="navbar-brand" href="/implementations">Implementation</a>
  <a class="navbar-brand" href="/materials">Material</a>
  <a class="navbar-brand" href="/resources">Resource</a>
  <a class="navbar-brand" href="/tests">Test</a>
  <a class="navbar-brand" href="/labels">Label</a>
</nav>
