{% extends 'template.html' %}
{% block title %}Resources{% endblock %}
{% block content %}
    <h3>Resource list</h3>
    <div class="row pb-3">
        {% for headline in headlines %}
          <div class="col">
          {{ headline }}
          </div>
        {% endfor %}
    </div>
    {% for resource in resources %}
    <form action="{{ url_for('resources') }}" method="post">
    {{form.hidden_tag()}}
    <div class="row pb-3">
      <div class="col">
        {{ form.resource_name(class_="form-control", value=resource.resource_name, readonly=True) }}
      </div>
      <div class="col">
        {{ form.resource_source(class_="form-control", value=resource.resource_source) }}
      </div>
      <div class="col">
        {{ form.label_number(class_="form-control", value=resource.label_number) }}
      </div>
      <div class="col">
        {{ form.resource_content(class_="form-control", value=resource.resource_content) }}
      </div>
      <div class="col">
        {{ form.rating(class_="form-control", value=resource.rating) }}
      </div>
      <div class="col text-center">
        {{ form.delete(class_="form-check-input") }}Delete?
      </div>
      <div class="col">
        <input type="submit" value="Save" class="btn btn-success">
      </div>
    </div>
    </form>
    {% endfor %}
    <form action="{{ url_for('resources') }}" method="post" name="create">
        {{form.hidden_tag()}}
        <div class="row pb-3">
            <div class="col">
                {{ form.resource_name(class_="form-control", value='', placeholder='New resource name') }}
            </div>
            <div class="col">
                {{ form.resource_source(class_="form-control", value='', placeholder='New resource source') }}
            </div>
            <div class="col">
                {{ form.label_number(class_="form-control", value='', placeholder='New resource label number') }}
            </div>
            <div class="col">
                {{ form.resource_content(class_="form-control", value='', placeholder='New resource content') }}
            </div>
            <div class="col">
                {{ form.rating(class_="form-control", value='', placeholder='New resource rating') }}
            </div>
            <div class="col">

            </div>
            <div class="col">
                <input type="submit" value="Create" class="btn btn-success">
            </div>
        </div>
    </form>
{% endblock %}