{% extends 'template.html' %}
{% block title %}Student{% endblock %}
{% block content %}
    <h3>Student list</h3>
    <div class="row pb-3">
        {% for headline in headlines %}
          <div class="col">
          {{ headline }}
          </div>
        {% endfor %}
    </div>
    {% for student in students %}
    <form action="{{ url_for('students') }}" method="post">
    {{form.hidden_tag()}}
    <div class="row pb-3">
      <div class="col">
        {{ form.record_book(class_="form-control", value=student.record_book, readonly=True) }}
      </div>
      <div class="col">
        {{ form.group_year(class_="form-control", value=student.group_year) }}
      </div>
      <div class="col">
        {{ form.group_name(class_="form-control", value=student.group_name) }}
      </div>
      <div class="col">
        {{ form.student_name(class_="form-control", value=student.student_name) }}
      </div>
      <div class="col">
        {{ form.student_email(class_="form-control", value=student.student_email) }}
      </div>
      <div class="col">
        {{ form.student_phone(class_="form-control", value=student.student_phone) }}
      </div>
      <div class="col text-center">
        {{ form.delete(class_="form-check-input") }}Delete?
      </div>
      <div class="col">
        <input type="submit" value="Save" class="btn btn-success">
      </div>
    </div>
    </form>
    {% endfor %}
    <form action="{{ url_for('students') }}" method="post" name="create">
        {{form.hidden_tag()}}
        <div class="row pb-3">
            <div class="col">
                {{ form.record_book(class_="form-control", value='', placeholder='New user record book number') }}
            </div>
            <div class="col">
                {{ form.group_year(class_="form-control", value='', placeholder='New user group_year') }}
            </div>
            <div class="col">
                {{ form.group_name(class_="form-control", value='', placeholder='New user group_name') }}
            </div>
            <div class="col">
                {{ form.student_name(class_="form-control", value='', placeholder='New user student_name') }}
            </div>
            <div class="col">
                {{ form.student_email(class_="form-control", value='', placeholder='New user student_email') }}
            </div>
            <div class="col">
                {{ form.student_phone(class_="form-control", value='', placeholder='New user student_phone') }}
            </div>
            <div class="col">

            </div>
            <div class="col">
                <input type="submit" value="Create" class="btn btn-success">
            </div>
        </div>
    </form>
{% endblock %}